.App {
  text-align: center;
  background-color: #b1d4e0;
}

.App-logo {
  height: 120;
  width: 120;
  
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: #145DA0;
  font-family: 'Open Sans Extra Bold', sans-serif;
  color: white;
}

.Nav-Menu {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  list-style: none;
  background-color: #145DA0;
  margin: 0;
  padding: 0;
  color: #605F5E;
  font-family: 'Open Sans Extra Bold', sans-serif;
  font-weight: bold;
  font-size: 20px;
  height: 15vh;
  text-decoration: none;
}

.Nav-li {
  font-size: 40px;
  text-decoration: none;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header {
  font-family: 'Open Sans Extra Bold', sans-serif;
  font-weight: bold;
  
}
