.App {
  text-align: center;
}

.App-logo {
  
  
}

.App-header {
  display: flex;
  justify-content: center;
  align-content: stretch;
  background-color: #888A8D;
  padding: 20px;
  color: white;
}

.Nav-Menu {
  display: flex;
  justify-content: space-around;
  align-content: center;
  style-type: none;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
